<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Table Reservation</h2>
<form role="form"  ng-submit="login()" role="form">
    <div class="row" id="reserverFormRows">
        <div class="col-md-6">
            <label for="date">Reserve Table on</label>
            <i class="fa fa-calendar"></i>
            <input type="date" class="form-control" required="true" data-toggle="tooltip" data-placement="top" title="Please fill the date">
        </div>
        <div class="col-md-6">
            <label for="time">Time</label> <i class="fa fa-clock-o"></i>
            <input type="time" class="form-control" required="true" placeholder="hh:mm" data-toggle="tooltip" data-placement="top" title="Please fill the time">
        </div>
    </div>
    <div class="row" id="reserverFormRows">
        <div class="col-md-6">
            <label for="numberOfGuests">Number of Guests</label>
            <i class="fa fa-users"></i>
            <input type="number" class="form-control" required="true" placeholder="#" data-toggle="tooltip" data-placement="top" title="Please fill the number of guests">
        </div>
        <div class="col-md-6">
            <label for="fullName">Occasion</label>
            <i class="fa fa-birthday-cake"></i>
            <input type="text" class="form-control" required="false" placeholder="occasion" data-toggle="tooltip" data-placement="top" title="Please fill the Occasion">
        </div>

    </div>
    <div class="row"  id="reserverFormRows">
        <div class="col-md-12">
            <label for="fullName">Full Name</label>
            <i class="fa fa-user"></i>
            <input type="text" class="form-control" required="true" placeholder="Full Name" data-toggle="tooltip" data-placement="top" title="Please fill the full name">
        </div>
    </div>
    <div class="row" id="reserverFormRows">
        <div class="col-md-6">
            <i class="fa fa-phone"></i> <label for="Phone">Phone Number</label>
            <input type="tel" id="Phone"  required="true"class="form-control" required="true" placeholder="(xxx)-xxx-xxxx" data-toggle="tooltip" data-placement="top" title="Please fill the correct phone number">
        </div>
        <div class="col-md-6">
            <i class="fa fa-envelope"></i> <label for="Email">Email</label>
            <input type="email"  id="Email" class="form-control" placeholder="email id" required="true" data-toggle="tooltip" data-placement="top" title="Please fill the correct email">
        </div>
    </div>
    <div class="col-md-6" id="reserverFormRows">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Reserve Table</button>
    </div>
</form>
