<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class=" text-primary"><img ng-src="layout/img/tg.jpg" height="150px" width="200px"></i>
                        <h3>To Go</h3>
                        <p class="text-muted">We serve mouth watering hot delicious food to go.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="  text-primary" data-wow-delay=".1s"><img ng-src="layout/img/cat.png" height="150px" width="200px"></i>
                        <h3>Catering</h3>
                        <p class="text-muted">We provide catering services for different occassions.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="  text-primary" data-wow-delay=".2s"><img ng-src="layout/img/br.jpg" height="150px" width="200px"></i>
                        <h3>Birthday Events</h3>
                        <p class="text-muted">Celebrate your birthday events with our special package food.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class=" text-primary" data-wow-delay=".3s"><img ng-src="layout/img/thali.jpg" height="150px" width="200px"></i>
                        <h3>Special Thalli's</h3>
                        <p class="text-muted">We provide authentic south indian and north indian thalli.</p>
                    </div>
                </div>
            </div>
        </div>